<h3>Igualdad de vectores</h3>
<img src="assets/images/igualdad.png" alt="Ejemplo gráfico de igualdad de vectores" class="dialog-image">
<p>En este caso, podemos observar que los primeros dos vectores, a pesar de no tener el mismo origen, sí tienen la misma magnitud, dirección y sentido. Por ello, esos dos vectores son iguales.<br><br>
   Sin embargo, el último vector, a pesar de tener la misma magnitud, no tiene la misma dirección ni sentido, por lo cual no es igual a los otros dos vectores.</p>