<!--Header-->
<mat-toolbar color="primary">
  <span>Vectores</span>
</mat-toolbar>
<div class="container px-0 main-section">
  <!--Information-->
  <div class="row m-0">
    <h1 class="text-center color-primary">Vectores</h1>
    <p class="text-center">Este es un pequeño proyecto para aprender y practicar vectores.</p>
  </div>
  <!--Tabs-->
  <div class="row m-0">
    <mat-tab-group>
      <mat-tab label="Aprender">
        <app-learn></app-learn>
      </mat-tab>
      <mat-tab label="Calculadora">
        <app-calculate></app-calculate>
      </mat-tab>
      <mat-tab label="Practicar">
        <app-practice></app-practice>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<!--Footer-->
<footer id="footer">
  <p class="footer-text">Elaborado por: Karen Garza Treviño</p>
</footer>